@page "/history"
@using Imc.Models
@inject IMCService IMCService

<PageTitle>Histórico</PageTitle>

<div class="content-blocks">
    <div>
        <img src="assets/icon-no-bg.png" class="imc-calc">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1 class="feed">Histórico</h1>
    </div>
    <div class="input-search">
        <svg
            class="bg"
            width="343"
            height="50"
            viewBox="0 0 343 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            d="M0.5 25C0.5 11.469 11.469 0.5 25 0.5H318C331.531 0.5 342.5 11.469 342.5 25C342.5 38.531 331.531 49.5 318 49.5H25C11.469 49.5 0.5 38.531 0.5 25Z"
            fill="#F6F6F6"
            stroke="#E8E8E8"
            />
        </svg>
        <div class="search">Pesquisar...</div>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="content-blocks">
@*     <div class="content-content-block-small">
        <div class="content-block"></div>
        <div class="header">Peso ideal ✅</div>
        <div class="_8-m-ago">8m atrás</div>
        <div
        class="he-ll-want-to-use-your-yacht-and-i-don-t-want-this-thing-smelling-like-fish"
        >
        Parabéns, você está no seu peso ideal, continue mantendo este estilo!
        </div>
        <div class="divider-line"></div>
    </div>
    <div class="content-content-block-small2">
        <div class="content-block2"></div>
        <div class="header">Sobrepeso ⛔️</div>
        <div class="_8-m-ago2">12/10/2023</div>
        <div
        class="he-ll-want-to-use-your-yacht-and-i-don-t-want-this-thing-smelling-like-fish"
        >
        Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!
        </div>
        <div class="divider-line2"></div>
    </div> *@
    <div class="content-content-block-small">
        <div class="content-block"></div>
        <div class="header">Resultado do IMC</div>
        <div class="_8-m-ago">Calculado agora</div>
        <div class="result">@($"Seu IMC é: {IMCService.IMCResult}")</div>
        <div class="divider-line"></div>
        @if (IMCService.IMCResult < 18.5)
        {
            <div class="imc-level">Abaixo do Peso</div>
        }
        else if (IMCService.IMCResult >= 18.5 && IMCService.IMCResult < 24.9)
        {
            <div class="imc-level">Peso Normal</div>
        }
        else if (IMCService.IMCResult >= 25 && IMCService.IMCResult < 29.9)
        {
            <div class="imc-level">Sobrepeso</div>
        }
        else
        {
            <div class="imc-level">Obesidade</div>
        }
    </div>
</div>

